langchain
langchain-community
langchain-core
langchain-groq
langchain-neo4j
neo4j
pymupdf
pypdf
sentence-transformers
langchain-huggingface
python-dotenv
pandas
numpy
spacy
fastapi
uvicorn
tiktoken
groq
rapidfuzz
bcrypt
psycopg2-binary
python-jose[cryptography]
email-validator
pydantic[email]
redis
fastapi-limiter
pyrate-limiter>=3.9.0